body {background-color: black;}


.painel {margin:10px;
    
}


.titulos { 
    margin:20px auto;
    display: flex;
justify-content: center;}


.titulos2 { 
    font-size: 40px;
color: black;
}


.links { 
    margin:20px auto;
    display: flex;
justify-content: center;
}

a {text-decoration: none;
color: red;
font-size: 25px;

}

.amarelo { color: yellow;
font-size: 30px;

    ;}

